asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.0.3
idna==3.3
pyaes==1.6.1
pyasn1==0.4.8
Pyrogram==1.4.12
PySocks==1.7.1
pyTelegramBotAPI==4.4.0
python-dotenv==0.20.0
requests==2.27.1
rsa==4.8
sqlparse==0.4.2
TgCrypto==1.2.3
tzdata==2022.1
urllib3==1.26.9
djangorestframework~=3.13.1